<mat-toolbar color="primary" class="mat-elevation-z*">
  <mat-toolbar-row>
    <button mat-icon-button color="red">
      <!-- <mat-icon (click)="sidenav.toggle()">menu</mat-icon> -->
    </button>
    <h1>Orion e-Commerce</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/home'"> Home</a>
      <a mat-button [routerLink]="'/dashboard'"> Contacts </a>

    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <router-outlet></router-outlet>
  </mat-toolbar-row>
</mat-toolbar>